@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Oswald",sans-serif;
    }
/*-------------- Inicio -----------------*/
.navbar-brand {
    font-size: 2rem;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.search {
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(248,26,92);
}

.btn0 {
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248,26,92);
    color: white;
    border-radius: 60px;
    font-weight: 700;

}

.main {
    background: url('../img/Copa_Cervezas.jpg');
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700; 
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:rgb(248,26,92) ;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover {
    background-color:rgb(223,15,77) ;
    transition: 0.5s;
}
h1 {
    font-weight: 700;
}

.card:hover {
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.visitanos {
    background-image: url(/img/barril_cerveza2.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
}

/*-------------- Productos -----------------*/

.h5-producto {
    font-weight: 600;
}

.p-producto {
    font-size: 1.5rem;
    font-weight: 300;
}

/*-------------- Productos -----------------*/

.p-ubicados {
    font-size: 1.5rem;
    font-weight: 300;
}

/*-------------- Teinda -----------------*/

.btn2 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:rgb(192, 107, 27) ;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn2:hover {
    background-color:rgb(223, 136, 15) ;
    transition: 0.5s;
}

.p-precio {
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
}

/*-------------- Footer -----------------*/




