/*-------------- Tienda -----------------*/

.btn2 {
    @extend .btn0;
    background-color: $colorboton2;
    .btn2:hover {
        background-color:$colorhoverboton2 ;
        transition: 0.5s;
    }
}

.p-precio {
    color: red;
    font-size: 1.5rem;
    font-weight: 300;
}
